{% extends "base.html" %}
{% block title %}, about{% endblock %}
{% block page %}
<div style="text-align: left">
<h1>About dynmirror</h1>
  <p>Dynmirror is a service to promote the use of metalinks, and helping communities (large and small) to dynamically mirror their files.
  <p>We have started August 19th 2009 and currently have a functional core system and currently you can:
  <ul>
    <li>Search for files based on their name.
    <li>Search for files based on digest (MD5, SHA-1, SHA-256, or SHA-512).
    <li>Dynamically create metalinks for your site.
  </ul>
  <p>We are always working on getting more features, but our core system of allowing the easy creation of metalinks is up and running.
</div>
{% endblock %}
